include CHANGES LICENSE* MANIFEST.in README* TODO
include bkp2U countem doPyLint installit pylintrc styleit test.all
include check* make.bld.from.example.datadir sampleRun
include doListGen doSrcGen

include setup.py
recursive-include src *
recursive-include tests *
recursive-include example1 *
recursive-include example2 *
recursive-include example3 *
recursive-include ghpDoc *
global-exclude junk* .*swp  *.bak
prune   .svn
